<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'photosToday' %}">Home</a>
      <a class="navbar-brand" href="{% url 'photosToday' %}">Gallery</a>
      <a class="navbar-brand" href="{% url 'photosToday' %}">About Us</a>
      <a class="navbar-brand" href="{% url 'photosToday' %}">Contact Us</a>
    </div>
  </div>
</nav>
</body>
</html>