{%extends 'all_photos/base.html'%}

{% block content %}
{{block.super}}



<div class="container-fluid">

  <!-- Looping through news   -->
  <div class="row">
  {% for image_item in photos %}

  
    <!-- displaying photos -->
   
  
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <a  href="{% url 'image' image_item.id %}"><img src="{{image_item.image.url}}" class="img-responsive" alt="Image"></a><br>
    </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No image Items</h2>
  </div>
  {% endfor %}
</div>
</div>

{% endblock %}